html, body{
  height:100%;
  margin: 0px;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Thin.ttf");
}
h1 {
	font-family: Roboto;
	font-size: 80px;
	margin: 0px;
}
a {
	font-family: Roboto;
	font-size: 20px;
	margin: 0px;
	text-decoration: none;
}
.indexSectionOne {
	margin: 0px;
	background-image: url(../images/index/backgroundOne.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	color: white;
}
table.homepageTableOne {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}
.resumeButton {
	padding: 10px;
	background-color: aqua;
	color: white;
	border-radius: 5px;
}
.indexSectionTwo {
	background-color: white;
	height: 50%;
}
@media (max-width: 767px) {
	.indexSectionOne {
		background-attachment: scroll;
	}
}